<section class="header relative pt-16 items-center flex max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">NotFlex</h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">Unlimited movies, TV shows, and more.</p>
        <p>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-10 md:mt-5 pb-40 relative bg-blueGray-100">
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" 
      viewBox="0 0 2560 100" x="0" y="0">
    <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4 pb-32 pt-6">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
        <div class="md:pr-12">
          <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
            <i class="fas fa-file-alt text-xl"></i>
          </div>
          <h3 class="text-3xl font-semibold">Detergent</h3>
          <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
            Tris Prior (Shailene Woodley) lives in a futuristic world in which society is divided into five factions. As each person enters adulthood, he or she must choose a faction and commit to it for life. Tris 
            chooses Dauntless -- those who pursue bravery above all else. However, her initiation leads to the discovery that she is a Divergent and will never be able to fit into just one faction. Warned that she 
            must conceal her status, Tris uncovers a looming war which threatens everyone she loves.
          </p>
          <ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-calendar-check"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">Release date: March 20, 2014 (Philippines)</h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">Director: Neil Burger</h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-rocket"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">Distributed by: Lionsgate Films</h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
        <img alt="Detergent" class="max-w-full rounded-lg shadow-xl" src="assets/img/posters/detergent.jpg"
          style="transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);" />
      </div>
    </div>
  </div>
  <div class="justify-center text-center flex flex-wrap">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl">Trending Now</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
        Popular TV shows/movies trending on NotFlex right now.
      </p>
    </div>
  </div>
</section>
<section class="block relative z-1 bg-blueGray-600 pb-4">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">Detergent</h5>
            <h4 class="text-md pb-4 text-center">
              Comedy &#8226; 2014 &#8226; 2h 19m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="Detergent" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/detergent.jpg" />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">Red Notice</h5>
            <h4 class="text-md pb-4 text-center">
              Action, Comedy &#8226; 2023 &#8226; 1h 58m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="Red Notice" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/red-notice.jpg" />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">A Man Called Otto</h5>
            <h4 class="text-md pb-4 text-center">
              Drama, Comedy &#8226; 2020 &#8226; 2h 6m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="A Man Called Otto" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/man-called-otto.jpg" />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">The Roundup</h5>
            <h4 class="text-md pb-4 text-center">
              Action, Crime &#8226; 2022 &#8226; 1h 58m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="The Roundup" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/the-roundup.jpg" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="justify-center text-center flex flex-wrap mt-6 pb-32">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl text-white">Blockbuster Movies</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-white">
        Blockbuster action movies that will get you pulse pounding.
      </p>
    </div>
  </div>
</section>
<section class="block relative z-1 bg-blueGray-600 text-white">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">Triple Frontier</h5>
            <h4 class="text-md pb-4 text-center">
              Action, Heist &#8226; 2019 &#8226; 2h 5m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="Detergent" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/triple-frontier.jpg" />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">Blue Bettle</h5>
            <h4 class="text-md pb-4 text-center">
              Action, Adventure &#8226; 2023 &#8226; 1h 58m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="Red Notice" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/blue-bettle.jpg" />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">John Weak</h5>
            <h4 class="text-md pb-4 text-center">
              Thriller &#8226; 2014 &#8226; 1h 41m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="A Man Called Otto" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/john-weak.png" />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-3/12 px-4">
            <h5 class="text-xl font-semibold text-center">Slumberland</h5>
            <h4 class="text-md pb-4 text-center">
              Adventure &#8226; 2022 &#8226; 1h 30m
            </h4>
            <a [routerLink]="['/detail']">
              <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="The Roundup" class="align-middle border-none max-w-full h-auto rounded-lg" src="assets/img/posters/slumberland.jpg" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
